.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;  
}
.App-text {
  width:70%;
  z-index: 999;
  font-size:22;
  background-color: #61dafb;
  padding: 10;
  margin-top: 20;
  color: black;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {    
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {transform: scale(0.9); }
  30% {transform: scale(1.5); }  
  100% {  transform: scale(2); }
  
}
